<select id="group-dropdown" name="idea[group]">
  <% if idea.id %>
    <option selected=<%idea.group%>><%=idea.group%></option>
  <%end%>
  <option value="Misc">Misc.</option>
  <option value="Travel">Travel</option>
  <option value="Work">Work</option>
  <option value="Chores">Chores</option>
  <option value="School">School</option>
  <option value="Errands">Errands</option>
</select> Select Idea Group<br/>
<button type='submit'/ class="button" type="button">Submit Your Idea!</button>
<br/>
<br/>
