<form action = "/searchgroup">
  <select name="idea[search_group]">
    <option value="Misc">Misc.</option>
    <option value="Travel">Travel</option>
    <option value="Work">Work</option>
    <option value="Chores">Chores</option>
    <option value="School">School</option>
    <option value="Errands">Errands</option>
  </select> 
  <button style="margin-left:55px;" type='search_by_group'/ class="button" type="button">Search By Group!</button>
</form>
