<form action="/searchday">
  <select name="idea[search_day]">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option>
  </select>
  <button style="margin-left:31px;" type='search_by_day_of_week'/ class="btn btn-primary" type="button">Search Day Of Week!</button>
</form>
