<html>
  <title>IdeaBox</title>
    <body>
    <%= erb :form, locals: {idea: idea} %>
    <p style="margin-left:10px; font-family:arial; font-size:25px;">Your Ideas</p>
    <ul>
      <div class="row">
        <% ideas.each do |idea| %>
          <%= erb :'partials/_idea', :layout => false, :locals => { :idea => idea} %>
        <% end %>
      </div>
    </ul>
  </body>
</html>


  
