<h1>IdeaBox</h1>

<h3>Here are the ideas that match that description</h3>

<ul>
  <form>
    <div class="row">
      <% ideas.each do |idea| %>
      <% if idea.searchable_description.any? {|word| search_by_description.include?(word)} %>
        <%= erb :'partials/_idea', :layout => false, :locals => { :idea => idea} %>
      <% end %>
    <% end %>
  </form>
</ul>
