<h1>IdeaBox</h1>
<h3>Here are the ideas created between <%=search_by_hour%>:00 and <%=search_by_hour%>:59 </h3>
<ul>
  <div class="row">
    <% ideas.each do |idea| %>
      <% if idea.created_at.hour == search_by_hour.to_i || idea.created_at.hour == search_by_hour.to_i + 12 && idea.am_or_pm == search_am_pm%>
        <%= erb :'partials/_idea', :layout => false, :locals => { :idea => idea} %>
      <% end %>
    <% end %>
  <else%>
  Sorry. No ideas match that search.
</ul>
